name: Release

on:
  push:
    branches: ['main']
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-20.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0
      - run: git tag --sort=committerdate | tail -1
      - uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'
      - name: npm publish  
        run: |
          npm version --new-version $(python -c 'print("'$(git tag --sort=committerdate | tail -1)'")') --no-git-tag-version
          npm config set access public
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}